@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


.home {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    min-height:10rem;
    min-width: 10rem;
    margin-top: 3rem;
    
}

.title{
    font-size: 3.5rem;
    margin-top: 5rem;
}

.connect{
    margin:4rem 0 4rem 0;
    padding: .5rem;
    font-size: large;
    color: #3b5687;
    cursor: pointer;
}

.submit{
    padding: .2rem;
    font-size: large;
    color: #3b5687;
    cursor: pointer;
    margin:4rem 0;
}

.labels{
    font-size: large;
    margin-right: 1rem;
}

.details{
    outline: none;
    display: inline;
    font-size: large;
    padding: .1rem;
}

form input[type=text]{
    margin-left: 1.5rem;
}

#button{
    width: 100%;
    display: flex;
    justify-content: center;
}

#msg{
    position: relative;
    top: 1rem;
}

.line{
    background-color: #3b5687;
    height: 2px;
    width: 50vw;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    min-height: 10rem;
    width: 15rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.heading{
    text-align: center;
    margin:4rem 0
}

.memo-container{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.msg{
    text-align: justify;
    margin-top: 2rem;
}